{% load staticfiles %}
<!DOCTYPE html>
<!-- Format borrowed from Todos -->
<html>
	<head>
	 <title>
		 {% block title %} {% endblock title %}
	 </title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static '/twitter_ui/css/style.css' %}">
	
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<script src="{% static 'twitter_ui/js/jquery.django-csrf.js' %}"></script>
	<script src="{% static 'twitter_ui/js/main.js' %}"></script>

	</head>
	<body>
		<header>
		   <h1>Welcome to Twitter</h1>
		</header> 
		<main>
			<ul class="tweetlist">
				 <div class="tweet">
					 {% verbatim %}
					
					<button class="tweet-form-button">Tweet</button>
					
					<div class="tweet-form-container"></div>
					<script type="x/mustache" id="tweet-form-template">
						
						<form method="POST" action="/twitter_api/create">
							<label>Content</label><input type="text" name="content">

							<button type="submit">Submit</button>
							
						</form> 
							
					</script>
				
				
				</div>
			   

				<script type="x/mustache" id="tweet-template">
					<li data-tweetlist-id="{{id}}" class="tweet tweet-item">
						<p>{{content}}</p>
						<button class="reply-button">Reply</button>
						<div class="tweet-form-container"></div>
						<button class="btn btn-danger delete-tweet">Delete</button>
						<ul class="tweetreply">					   
						</ul>
					</li>
				</script>

				{% endverbatim %}
			</ul> 
		
		</main>



	</body> 
</html>